body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-image: url("images/rps.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  margin-top: 0;
}

canvas {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
}

footer {
  margin-top: 20px;
  color: white;
}

a {
  color: white;
}

.play-area {
  width: 500px;
  background-color: antiquewhite;
  border-radius: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  background-color: teal;
  color: white;
  padding: 20px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}
.instructions,
.player-selection {
  padding: 20px;
  text-align: justify;
  margin: 0;
}
.player-selection {
  display: flex;
  justify-content: space-around;
}
.player-selection > button {
  font-size: 2rem;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: teal;
}

.player-selection > button:hover {
  background-color: white;
}
.game-data {
  text-align: center;
}
.game-data > button {
  background-color: black;
  border-radius: 3px;
  color: white;
  padding: 3px 10px;
}

.game-data > button:hover {
  background-color: antiquewhite;
  color: black;
}
